@use '@angular/material' as mat;
@import "../../../themeVariables";

.container {
    width: 250px;
    height: 200px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;


    .message-header {
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: large;
        color: mat.get-color-from-palette($accent, 'default');
        align-self: flex-start;
        justify-content: center;
    }

    .message-time {
        grid-row-start: 2;
        grid-row-end: 2;
        font-size: large;
        color: black;
        align-self: center;
    }
    
    .reset-button {
        grid-row-start: 3;
        align-self: flex-end;
        font-size: large;
        width: auto;
        height: 50px;
        color: mat.get-color-from-palette($accent, 'default');
    }
}