.container {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.message-header {
    font-size: large;
    text-align: center;
}

.message-tries {
    font-size: large;
    text-align: center;  
}

.dialog-button {
    font-size: medium;
    height: 50px;
}

.dialog-button:focus {
    outline: 3px dotted;
    outline-color: black;
}