@use '@angular/material' as mat;
@import "../../../themeVariables";

.container {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.message-header {
    font-size: large;
    text-align: center;
}

.message-tries {
    font-size: large;
    text-align: center;  
}

.dialog-button {
    font-size: medium;
    width: auto;
    height: 50px;
    color: mat.get-color-from-palette($accent, 'default');

    &--pressed {
        color: mat.get-color-from-palette($primary, 'default');
        opacity: 90%;
    }
}