.header {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 225px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-button {
    align-self: flex-end;
    min-width: 30px;
    margin-top: 5px;
    margin-right: 5px;
    transform: scale(.9);
}

.message-header {
    font-size: large;
    text-align: center;
}

.message-tries {
    font-size: large;
    text-align: center;
}

.dialog-button {
    font-size: medium;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}