<div class="container">
    <div class="about-header">
        <p class="about-text-item">
            Time spent: {{gameTime}}
        </p>

        <button mat-raised-button aria-label="Close window" role="button" color="accent" class="close-button"
            (click)="closePanel()">
            <mat-icon class="icon" aria-hidden="true">clear</mat-icon>
        </button>
    </div>

    <div class="about-row">
        <h1 class="about-section-header">About</h1>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="about-row">
        <p class="about-text-item">Author: Ben Schwenke</p>
        <p class="about-text-item">Think a word is missing? Verify it is in the <a role="link" class="about-link"
            target="_blank" rel="noopener noreferrer" href="https://www.merriam-webster.com/">Merriam-Webster
            dictionary</a> and contact me!</p>
    </div>

    <div class="about-row">
        <h1 class="about-section-header">Contact</h1>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="about-row">
        <p class="about-text-item">Email:
            <a role="link" class="about-link" target="_blank" rel="noopener noreferrer"
                href="mailto: letterflash@protonmail.com">letterflash@protonmail.com</a>
        </p>
    </div>

    <div class="about-row">
        <p class="about-text-item">Twitter:
            <a role="link" class="about-link" target="_blank" rel="noopener noreferrer"
                href="https://twitter.com/BenSchwenke">https://twitter.com/BenSchwenke</a>
        </p>
    </div>

    <div class="about-row">
        <h1 class="about-section-header">Project</h1>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="about-row">
        <p class="about-text-item">Github:
            <a role="link" class="about-link" target="_blank" rel="noopener noreferrer"
                href="https://github.com/Schwenke/letterflash">https://github.com/Schwenke/letterflash</a>
        </p>
    </div>

    <div class="about-row">
        <p class="about-text-item">Code licensed under <a role="link" class="about-link" target="_blank"
                rel="noopener noreferrer" href="https://github.com/Schwenke/letterflash/blob/main/LICENSE">GNU GPLv3</a></p>
    </div>

</div>