.card-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    margin-top: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-item {
    font-size: large;
    font-weight: 400;
}

@media only screen and (max-width: 450px) {
    .text-item {
        font-size: medium;
    }

    .card {
        width: 300px;
    }
}