<div class="card-container">
    <mat-card appearance="outlined" class="card">
        <div class="text-item">Games played (5/6/7)</div>
        <div class="text-item">{{getGamesPlayed()}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Game win %</div>
        <div class="text-item">{{getAverageWinPercent()}}%</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Win streak / max</div>
        <div class="text-item">{{formatNumber(stats.winStreak)}} / {{formatNumber(stats.maxWinStreak)}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Average guesses per game</div>
        <div class="text-item">{{getAverageGuesses()}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Average time per game</div>
        <div class="text-item">{{getAverageGameTime()}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Hard win %</div>
        <div class="text-item">{{getAverageHardModeWinPercent()}}%</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Hard win streak / max</div>
        <div class="text-item">{{formatNumber(stats.winStreak_hard)}} / {{formatNumber(stats.maxWinStreak_hard)}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Extreme win %</div>
        <div class="text-item">{{getAverageExtremeModeWinPercent()}}%</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Extreme win streak / max</div>
        <div class="text-item">{{formatNumber(stats.winStreak_extreme)}} / {{formatNumber(stats.maxWinStreak_extreme)}}</div>
    </mat-card>

    <mat-card appearance="outlined" class="card">
        <div class="text-item">Shared win streak / max</div>
        <div class="text-item">{{formatNumber(stats.winStreak_shared)}} / {{formatNumber(stats.maxWinStreak_shared)}}</div>
    </mat-card>
</div>