<div class="card-container">
    <mat-card class="card">
        <div class="text-item">Games played (5/6/7)</div>
        <div class="text-item">{{getGamesPlayed()}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Game win %</div>
        <div class="text-item">{{getAverageWinPercent()}}%</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Average # of guesses to solve</div>
        <div class="text-item">{{getAverageGuesses()}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Hard mode wins</div>
        <div class="text-item">{{formatNumber(stats.wins_hard)}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Extreme mode wins</div>
        <div class="text-item">{{formatNumber(stats.wins_extreme)}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Total time played</div>
        <div class="text-item">{{getTotalTimePlayed()}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Average game time</div>
        <div class="text-item">{{getAverageGameTime()}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Shared games played</div>
        <div class="text-item">{{formatNumber(stats.shares)}}</div>
    </mat-card>

    <mat-card class="card">
        <div class="text-item">Shared game win %</div>
        <div class="text-item">{{getAverageSharePuzzleWinPercent()}}%</div>
    </mat-card>
</div>