<div class="options-container">
    <table class="options-table">
        <tr>
            <label class="options-label">Options</label>
            <mat-divider class="divider"></mat-divider>
        </tr>
        <tr class="toggle-container">
            <mat-slide-toggle (change)="storeOptions()" title="Subsequent guesses must use all previous clues"
                class="hardModeToggle" [(ngModel)]="options.hardMode">Hard Mode</mat-slide-toggle>
            <label class="options-check" *ngIf="options.hardMode">✔</label>
        </tr>

        <tr class="toggle-container">
            <mat-slide-toggle (change)="storeOptions()"
                title="Secret words pull from full dictionary of over 8,000+ words" class="masochistModeToggle"
                [(ngModel)]="options.masochistMode">Masochist Mode</mat-slide-toggle>
            <label class="options-check" *ngIf="options.masochistMode">✔</label>
        </tr>

        <tr>
            <label class="options-label">Word Length</label>
            <mat-divider class="divider"></mat-divider>
            <mat-radio-group class="radio-group" [(ngModel)]="options.wordLength" (change)="storeOptions()" [value]="options.wordLength">
                <mat-radio-button class="radio-button" value=5>5</mat-radio-button>
                <mat-radio-button class="radio-button" value=6>6</mat-radio-button>
                <mat-radio-button class="radio-button" value=7>7</mat-radio-button>
            </mat-radio-group>
        </tr>

        <tr>
            <label class="clock-label">Time Spent</label>
            <mat-divider class="divider"></mat-divider>
            <label class="clock">{{clockTime}}</label>
        </tr>

        <tr></tr>

        <tr>
            <button class="reset-button" mat-raised-button type="button" (click)="reset()">Generate new word</button>
        </tr>
    </table>
</div>