.options-container {
    width: 100%;
    height: 100%;
}

.divider {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.options-table {
    border-spacing: 1.5rem;
    border-collapse: separate;
}

.header-label {
    font-weight: bold;
    font-size: large;
}

.clock {
    font-size: medium;
}

.options-check {
    font-size: x-large;
    margin-left: .5rem;
    color: green;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.radio-button {
    margin: 5px;
}

.toggle-container {
    max-width: fit-content;
}

.hardModeToggle {
    font-size: large;
}

.masochistModeToggle {
    font-size: large;
}

.button {
    font-size: large;
    margin-top: 1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reset-button {
    @extend .button;
}

.history-button {
    @extend .button;
}

.results-button {
    @extend .button;
}

@media only screen and (max-width: 450px) {
    .options-table {
        border-spacing: 1rem;
    }

    .clock {
        font-size: medium;
    }

    .header-label {
        font-weight: bold;
        font-size: medium;
    }

    .options-check {
        font-size: small;
        margin-left: .5rem;
        color: green;
    }

    .hardModeToggle {
        font-size: small;
    }

    .masochistModeToggle {
        font-size: small;
    }

    .button {
        font-size: small;
    }
}