<div class="options-container">
    <table class="options-table">
        <tr>
            <label class="header-label">Options</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr class="toggle-container">
            <mat-slide-toggle (change)="storeOptions()"
                title="Dark mode" class="toggle"
                [(ngModel)]="options.darkMode">Dark mode</mat-slide-toggle>
            <label class="options-check" *ngIf="options.darkMode">✔</label>
        </tr>

        <tr class="toggle-container">
            <mat-slide-toggle (change)="storeOptions()" title="Subsequent guesses must use all previous clues"
                class="toggle" [(ngModel)]="options.hardMode">Hard mode</mat-slide-toggle>
            <label class="options-check" *ngIf="options.hardMode">✔</label>
        </tr>

        <tr class="toggle-container">
            <mat-slide-toggle (change)="storeOptions()"
                title="Secret words pull from full dictionary of over 8,000+ words" class="toggle"
                [(ngModel)]="options.masochistMode">Masochist mode</mat-slide-toggle>
            <label class="options-check" *ngIf="options.masochistMode">✔</label>
        </tr>

        <tr>
            <button role="button" class="reset-button" mat-raised-button type="button" (click)="reset()">New game</button>
        </tr>

        <tr>
            <label class="header-label">Word length</label>
            <mat-divider class="divider"></mat-divider>
            <mat-radio-group role="radiogroup" class="radio-group" [(ngModel)]="options.wordLength" (change)="storeOptions()" [value]="options.wordLength">
                <mat-radio-button role="radio" class="radio-button" value=5>5</mat-radio-button>
                <mat-radio-button role="radio" class="radio-button" value=6>6</mat-radio-button>
                <mat-radio-button role="radio" class="radio-button" value=7>7</mat-radio-button>
            </mat-radio-group>
        </tr>

        <tr>
            <label class="header-label">Time Spent</label>
            <mat-divider class="divider"></mat-divider>
            <fa-icon class="faq-icon" [icon]="clockIcon" size="lg"></fa-icon>
            <label role="timer" class="clock">{{clockTime}}</label>
        </tr>

        <tr>
            <label class="header-label">View</label>
            <mat-divider class="divider"></mat-divider>

            <div class="button-container">
                <button role="button" class="history-button" mat-raised-button type="button" (click)="viewHistory()">History</button>
                <button role="button" class="results-button" [disabled]="!gamePaused" mat-raised-button (click)="viewResults()">Current game results</button>
            </div>
        </tr>
    </table>
</div>