<!DOCTYPE html>
<title>Word-Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<mat-progress-spinner class="spinner" *ngIf="!initialized" mode="indeterminate"></mat-progress-spinner>

<mat-sidenav-container *ngIf="initialized">
    <mat-sidenav class="faq-sidenav" #faq>
        <app-faq></app-faq>
    </mat-sidenav>

    <mat-sidenav class="options-sidenav" #options position="end">
        <app-options (resetClicked)="options.toggle()" (viewHistoryClicked)="switchViews()"></app-options>
    </mat-sidenav>

    <mat-sidenav-content class="game">
        <div class="game-header">
            <!-- DEBUG -->
            <!-- Secret Word: {{boardState.secretWord}} -->
            <button mat-stroked-button class="faq-toggle" type="button" #faqToggle (click)="faq.toggle()" (keydown)="buttonKeyDown($event)">FAQ</button>
            <label class="game-title">Untitled Word Game</label>
            <button mat-stroked-button class="options-toggle" type="button" #optionsToggle (click)="options.toggle()" (keydown)="buttonKeyDown($event)">Options</button>
        </div>

        <button [ngClass]="{'hidden': showGame}" class="reset-button" mat-raised-button (click)="switchViews()">Return to game</button>

        <button [ngClass]="{'hidden': !showGame || !(boardState.success || boardState.failure)}" class="body-button" mat-stroked-button #victoryToggle (click)="viewResults()" (keydown)="buttonKeyDown($event)">View Results</button>

        <app-history [ngClass]="{'hidden': showGame}" class="history-board"></app-history>

        <app-game-board [ngClass]="{'hidden': !showGame}" class="game-board"></app-game-board>

        <label [ngClass]="{'hidden': !showGame}" #errorLabel class="user-error">{{boardState.error}}</label>

        <app-keyboard [ngClass]="{'hidden': !showGame}" class="game-keyboard"></app-keyboard>

    </mat-sidenav-content>

  </mat-sidenav-container>

<router-outlet></router-outlet>