<!DOCTYPE html>
    
<mat-progress-spinner class="spinner" *ngIf="!initialized" mode="indeterminate"></mat-progress-spinner>

<mat-sidenav-container class="app-container" *ngIf="initialized">

    <!-- FAQ left side nav -->
    <mat-sidenav role="region" class="faq-sidenav" autoFocus="false" #faq>
        <app-faq></app-faq>
    </mat-sidenav>

    <!-- Options right side nav -->
    <mat-sidenav role="region" class="options-sidenav" #options position="end">
        <app-options (resetClicked)="options.toggle()" (viewHistoryClicked)="switchViews()" (viewResultsClicked)="viewResults()"></app-options>
    </mat-sidenav>

    <!-- Main body -->
    <mat-sidenav-content class="game" role="main">
        <div class="game-header" role="banner">
            <!-- DEBUG -->
            <!-- Secret: {{session.secret}} -->
            <button mat-icon-button (click)="faq.toggle()" class="faq-button" aria-label="Information" matTooltip="Opens the information and FAQ window">
                <fa-icon aria-hidden="true" [icon]="questionIcon" size="lg"></fa-icon>
            </button>

            <label aria-label="Letter Flash" class="game-title">Letter Flash</label>

            <button mat-icon-button (click)="options.toggle()" class="options-button" aria-label="Options" matTooltip="Opens the options window">
                <fa-icon aria-hidden="true" [icon]="cogsIcon" size="lg"></fa-icon>
            </button>
        </div>

        <button aria-label="Return to game" title="Leave the history view and return back to the game" role="button" [ngClass]="{'hidden': showGame}" class="reset-button" mat-stroked-button (click)="switchViews()">Return to game</button>

        <app-history [ngClass]="{'hidden': showGame}" class="history-board"></app-history>

        <app-game-board [ngClass]="{'hidden': !showGame, 'shake': showError}" class="game-board"></app-game-board>

        <app-keyboard [ngClass]="{'hidden': !showGame}" class="game-keyboard"></app-keyboard>

    </mat-sidenav-content>

  </mat-sidenav-container>

<router-outlet></router-outlet>