.spinner {
    height: 50vh;
    margin: 25vh auto;
}

.sidenav {
    max-width: 40vh;
    min-width: 33vh;
}

.options-sidenav {
    @extend .sidenav;
}

.faq-sidenav {
    @extend .sidenav;
}

.return-button {
    align-self: center;
    font-size: x-large;
    min-width: 200px;
    min-height: 70px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.history-board {
    align-self: center;
    overflow: auto;
    margin-bottom: 2rem;
    max-width: 90vw;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.hidden {
    display: none;
}

.game {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    margin: 0vh auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-title {
    font-size: large;
}

.game-board {
    align-self: center;
}

.user-error {
    color: red;
    font-size: large;
    text-align: center;
    height: 20px;
}

.game-keyboard {
    align-self: center;
}

@media only screen and (max-width: 450px) {
    .game-title {
        font-size: large;
    }

    .sidenav {
        width: 250px;
    }

    .user-error {
        font-size: small;
    }

    .return-button {
        font-size: medium;
        min-width: 100px;
        min-height: 35px;
    }
}