.spinner {
    height: 50vh;
    margin: 25vh auto;
}

.sidenav {
    max-width: 40vh;
    min-width: 33vh;
}

.options-sidenav {
    @extend .sidenav;
}

.faq-sidenav {
    @extend .sidenav;
}

.reset-button {
    font-size: medium;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.hidden {
    display: none !important;
}

.history-board {
    align-self: center;
    overflow: auto;
    max-width: 90vw;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.game-header {
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.game-title {
    font-size: large;
}

.faq-icon {
    cursor: pointer;
}

.options-icon {
    cursor: pointer;
}

.game-keyboard {
    display: block;
    margin: 0 8px;
}

@media only screen and (max-width: 450px) {
    .game-title {
        font-size: large;
    }
}