<!DOCTYPE html>
    
<mat-progress-spinner class="spinner" *ngIf="!initialized" mode="indeterminate"></mat-progress-spinner>

<mat-sidenav-container *ngIf="initialized">
    <mat-sidenav role="dialog" class="faq-sidenav" autoFocus="false" #faq>
        <app-faq></app-faq>
    </mat-sidenav>

    <mat-sidenav role="dialog" class="options-sidenav" #options position="end">
        <app-options (resetClicked)="options.toggle()" (viewHistoryClicked)="switchViews()" (viewResultsClicked)="viewResults()"></app-options>
    </mat-sidenav>

    <mat-sidenav-content class="game">
        <div class="game-header">
            <!-- DEBUG -->
            <!-- Secret Word: {{boardState.secretWord}} -->
            <fa-icon class="faq-icon" (click)="faq.toggle()" [icon]="questionIcon" size="lg"></fa-icon>
            <label class="game-title">Untitled Word Game</label>
            <fa-icon class="options-icon" (click)="options.toggle()" [icon]="cogsIcon" size="lg"></fa-icon>
        </div>

        <button role="button" [ngClass]="{'hidden': showGame}" class="reset-button" mat-stroked-button (click)="switchViews()">Return to game</button>

        <app-history [ngClass]="{'hidden': showGame}" class="history-board"></app-history>

        <app-game-board [ngClass]="{'hidden': !showGame}" class="game-board"></app-game-board>

        <app-keyboard [ngClass]="{'hidden': !showGame}" class="game-keyboard"></app-keyboard>

    </mat-sidenav-content>

  </mat-sidenav-container>

<router-outlet></router-outlet>