<div class="container">    
    <table class="faq-table">
        <tr>
            <label class="faq-label">Goal</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr>
            <p class="faq-text">You get six chances to guess a secret word. Make a guess by typing in a valid word and pressing enter.</p>
            <!-- <p class="faq-text">Make a guess by typing in a valid word and pressing enter.</p> -->

            <p>
                <label class="perfect-text">Perfect</label> 
                <label class="faq-text"> clues are in the secret word and in the correct position.</label>
            </p>

            <p>
                <label class="partial-text">Partial</label> 
                <label class="faq-text"> clues are in the secret word but in the wrong position.</label>
            </p>
        </tr>

        <tr>
            <label class="faq-label">FAQ</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr>
            <label class="faq-text-header">What is hard mode?</label>
            <p class="faq-text-item">When enabled, requires that subsequent guesses include all previously discovered clues.</p>
        </tr>

        <tr>
            <label class="faq-text-header">What is extreme mode?</label>
            <p class="faq-text-item">When enabled, the secret word will pull from the entire dictionary instead of a curated list. Incredibly difficult!</p>
        </tr>

        <tr>
            <label class="faq-text-header">What do the keyboard colors correspond to?</label>
            <p class="faq-text-item">
                <label class="perfect-text">High</label><label class="partial-text">lighted</label>
                <label class="faq-text-item"> keys correspond with clues you've discovered. </label>
            </p>

            <p class="faq-text-item">
                <label class="light-text">Light</label> 
                <label class="faq-text-item"> keys are those you have yet to use. </label>
            </p>

            <p class="faq-text-item">
                <label class="dark-text">Dark</label> 
                <label class="faq-text-item"> keys have been used and are not part of the secret word. </label>
            </p>
        </tr>

        <tr>
            <label class="faq-label">Links</label>
            <mat-divider class="divider"></mat-divider>

            <ul>
                <li>
                    <a role="link" class="faq-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/BenSchwenke">My Twitter</a>
                </li>
                <li>
                    <a role="link" class="faq-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ben-schwenke/">My LinkedIn</a>
                </li>
                <li>
                    <a role="link" class="faq-link" target="_blank" rel="noopener noreferrer" href="https://github.com/Schwenke">My GitHub</a>
                </li>
                <li>
                    <a role="link" class="faq-link" target="_blank" rel="noopener noreferrer" href="https://www.powerlanguage.co.uk/wordle/">Wordle - the original and best</a>
                </li>
            </ul>
        </tr>

    </table>
</div>