<div class="container">    
    <table class="faq-table">
        <tr>
            <label class="faq-label">About</label>
            <mat-divider class="divider"></mat-divider>
        </tr>
        <tr>
            <label class="faq-text">This is an open source project inspired by a popular online word game.</label>
        </tr>

        <tr>
            <label class="faq-label">Contact</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr>
            <label class="faq-text">Author: Ben Schwenke</label>
            <ul>
                <li>
                    <a class="faq-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/BenSchwenke">Twitter</a>
                </li>
                <li>
                    <a class="faq-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ben-schwenke/">LinkedIn</a>
                </li>
                <li>
                    <a class="faq-link" target="_blank" rel="noopener noreferrer" href="https://github.com/Schwenke">GitHub</a>
                </li>
            </ul>
        </tr>

        <tr>
            <label class="faq-label">Goal</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr>
            <label class="faq-text">There is a secret word you are trying to guess. You get six chances, and each guess may give clues relevant to the secret word.</label>
        </tr>

        <tr>
            <label class="faq-text">Letters highlighted in </label>
            <label class="green-text">green</label> 
            <label class="faq-text"> are in the secret word and in the correct position.</label>
        </tr>

        <tr>
            <label class="faq-text">Letters highlighted in </label>
            <label class="purple-text">purple</label> 
            <label class="faq-text"> are in the secret word, but not the correct position.</label>
        </tr>

        <tr>
            <label class="faq-label">FAQ</label>
            <mat-divider class="divider"></mat-divider>
        </tr>

        <tr>
            <label class="faq-text-header">What is hard mode?</label>
            <ul>
                <li>
                    <label class="faq-text-item">When enabled, all subsequent guesses require you to use all previous gathered clues.</label>
                </li>
            </ul>
        </tr>

        <tr>
            <label class="faq-text-header">What is masochist mode?</label>
            <ul>
                <li>
                    <label class="faq-text-item">When enabled, secret words can pull from the full english dictionary, including plurals and all sorts of other evil words!</label>
                </li>
            </ul>
        </tr>

        <tr>
            <label class="faq-text-header">What do the keyboard colors correspond to?</label>
            <ul class="list">
                <li>
                    <label class="faq-text-item">Keys that are </label>
                    <label class="green-text">green</label> 
                    <label class="faq-text-item"> are letters you have used previously and are part of the secret word. </label>
                </li>
                <li>
                    <label class="faq-text-item">Keys that are </label>
                    <label class="black-text">black</label> 
                    <label class="faq-text-item"> are letters you have used previously and are NOT part of the secret word. </label>
                </li>
                <li>
                    <label class="faq-text-item">Keys that are </label>
                    <label class="grey-text">grey</label> 
                    <label class="faq-text-item"> are letters you have not used yet. </label>
                </li>
            </ul>
        </tr>

    </table>
</div>