@use '@angular/material' as mat;
@import "../../../themeVariables";

.divider {
    margin-top: .5rem;
}

.faq-table {
    border-spacing: 1.5rem;
    border-collapse: separate;
}

.faq-label {
    font-size: large;
    color: mat.get-color-from-palette($accent, 'default');
}

.faq-text {
    font-size: medium;
    line-height: 1.5rem
}

.faq-text-header {
    font-size: large;
    font-style: italic;
}

.faq-text-item {
    font-size: medium;
    margin-top: .75rem;
}

.faq-link {
    font-size: medium;
    color: mat.get-color-from-palette($accent, 'default');
}

.colored-text {
    font-size: medium;
    font-weight: bold;
}

.perfect-text {
    @extend .colored-text;
    color: mat.get-color-from-palette($perfect, 'darker');
}

.partial-text {
    @extend .colored-text;
    color: mat.get-color-from-palette($partial, 'darker');
}

.dark-text {
    @extend .colored-text;
    color: mat.get-color-from-palette($primary, 'darker');
}

.light-text {
    @extend .colored-text;
    color: mat.get-color-from-palette($primary, 'default');
}