<div class="container">
    <div class="faq-header">
        <button mat-raised-button aria-label="Close window" role="button" color="accent" class="close-button"
            (click)="closePanel()">X</button>
    </div>

    <div class="faq-row">
        <label class="faq-label">Goal</label>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="faq-row">
        <p class="faq-text-item">You get six chances to guess a secret word. Make a guess by typing in a valid word and
            pressing enter.</p>

        <p class="faq-text-item">
            <em class="perfect-text">Perfect</em> clues are in the secret word and in the correct position.
        </p>

        <p class="faq-text-item">
            <em class="partial-text">Partial</em> clues are in the secret word but in the wrong position.
        </p>
    </div>

    <div class="faq-row">
        <label class="faq-label">FAQ</label>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">What is hard mode?</label>
        <p class="faq-text-item">When enabled, guesses must include all previous clues.</p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">What is extreme mode?</label>
        <p class="faq-text-item">When enabled, the secret word will pull from the entire dictionary instead of a curated
            list. Incredibly difficult!</p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">How do I share a puzzle?</label>
        <p class="faq-text-item">When you finish a game, click the <em class="bold-text">"Share a link to this
                puzzle"</em> button to copy a link to your clipboard.</p>
        <p class="faq-text-item">Then, share the link with your friends. They will be given the secret word you just
            solved as their puzzle!</p>
        <p class="faq-text-item">Copying the results from a share link will hide the secret
            word and include a link to that puzzle.</p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">How do I report a bug?</label>
        <p class="faq-text-item">Please create a new issue on GitHub using <a class="faq-link" target="_blank"
                rel="noopener noreferrer" href="https://github.com/Schwenke/letterflash/issues">this link.</a></p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">How do I contact you?</label>
        <p class="faq-text-item">
            <a role="link" class="faq-link" target="_blank" rel="noopener noreferrer"
            href="mailto: letterflash@protonmail.com">letterflash@protonmail.com</a>
        </p>
    </div>

    <div class="faq-row">
        <label class="faq-label">What's new</label>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">03-11-2022</label>
        <p class="faq-text-item">Added "Recent Games" button to options, replacing "History"</p>
        <p class="faq-text-item">Added "View" section to options</p>
        <p class="faq-text-item">Removed "View results" button</p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">03-14-2022</label>
        <p class="faq-text-item">Added "Stats" button to options</p>
    </div>

    <div class="faq-row">
        <label class="faq-text-header">03-15-2022</label>
        <p class="faq-text-item">Wiped all saved options, recent games, and stats</p>
        <p class="faq-text-item">This was necessary to implement new stat tracking</p>
        <p class="faq-text-item">Updated stats view with some new options</p>
    </div>
</div>