@use '@angular/material' as mat;
@import "../../../themeVariables";

@keyframes popIn {
    from {
        transform: scale(1.4);
        opacity: .4;
    }
    to {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes flash {
    from {
        filter: opacity(0%) brightness(20%);
    }

    to {
        filter: opacity(100%) brightness(100%);
    }
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    height: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: .5em;
}

.letter {
    font-size: 2.5em;
    user-select: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
    &-empty {
        @extend .letter;
        border: 2px solid #d3d6da;

        &.darkMode {
            border: 2px solid mat.get-color-from-palette($primary, 'darker');
        }
    }

    &-pending {
        @extend .letter;
        @extend .letter-pop;
        border: 2px solid mat.get-color-from-palette($primary, 'darker');

        &.darkMode {
            border: 2px solid mat.get-color-from-palette($primary, 'default');
        }
    }

    &-miss {
        @extend .letter;
        @extend .letter-flash;
        background-color: mat.get-color-from-palette($primary, 'darker');
        border: 2px solid mat.get-color-from-palette($primary, 'darker');

        &.darkMode {
            background-color: #4b4b4e;
            border: 2px solid #4b4b4e;
        }
    }

    &-perfect {
        @extend .letter;
        @extend .letter-flash;
        background-color: mat.get-color-from-palette($perfect, 'default');
        border: 2px solid mat.get-color-from-palette($perfect, 'default');
    }
    
    &-partial {
        @extend .letter;
        @extend .letter-flash;
        background-color: mat.get-color-from-palette($partial, 'default');
        border: 2px solid mat.get-color-from-palette($partial, 'default');
    }
}

.letter-pop {
    animation: popIn .1s;
}

// That's the game name lmao
.letter-flash {
    color: white;
    animation: flash .8s linear;
}

.letter-flash:nth-child(1) {
    @extend .letter-flash;
    animation-delay: 0s;
}

.letter-flash:nth-child(2) {
    @extend .letter-flash;
    animation-delay: 0.1s;
}

.letter-flash:nth-child(3) {
    @extend .letter-flash;
    animation-delay: 0.15s;
}

.letter-flash:nth-child(4) {
    @extend .letter-flash;
    animation-delay: 0.2s;
}

.letter-flash:nth-child(5) {
    @extend .letter-flash;
    animation-delay: 0.25s;
}

.letter-flash:nth-child(6) {
    @extend .letter-flash;
    animation-delay: .3s;
}

.letter-flash:nth-child(7) {
    @extend .letter-flash;
    animation-delay: .35s;
}