@keyframes animatePending {
    from {
        transform: scale(1.4);
        opacity: .4;
    }
    to {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes animateCommit {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.game-board {
    border-spacing: 8px;
}

.letter {
    width: 4rem;
    height: 4rem;
    font-size: xx-large;
    text-align: center;
    background-color: #fafafa;
    user-select: none;

    &--empty {
        @extend .letter;
        border: 2px solid #d3d6da;
    }

    &--pending {
        @extend .letter;
        animation: animatePending .1s;
        background-color: white;
        border: 2px solid grey;
    }

    &--committed {
        @extend .letter;
        color: white;
        background-color: grey;
        border: 2px solid grey;
        transition: background-color 1s ease-in;
        transition: border 1s ease-in;
    }

    &--perfect {
        @extend .letter;
        color: white;
        background-color: green;
        border: 2px solid green;
        transition: background-color 1s ease-in;
        transition: border 1s ease-in;
    }
    
    &--partial {
        @extend .letter;
        color: white;
        background-color: purple;
        border: 2px solid purple;
        transition: background-color 1s ease-in;
        transition: border 1s ease-in;
    }
}

.letter--committed:nth-child(1) {
    animation: animateCommit .6s linear 0s;
}

.letter--committed:nth-child(2) {
    animation: animateCommit .6s linear 0.1s;
}

.letter--committed:nth-child(3) {
    animation: animateCommit .6s linear 0.2s;
}

.letter--committed:nth-child(4) {
    animation: animateCommit .6s linear 0.3s;
}

.letter--committed:nth-child(5) {
    animation: animateCommit .6s linear 0.4s;
}

.letter--committed:nth-child(6) {
    animation: animateCommit .6s linear .5s;
}

.letter--committed:nth-child(7) {
    animation: animateCommit .6s linear .6s;
}

@media only screen and (max-width: 700px) {

    .game-board {
        border-spacing: 5px;
    }

    .letter {
        width: 3.5rem;
        height: 3.5rem;
        font-size: large;
    }

    .error {
        font-size: large;
    }
}

// MEDIA QUERIES
@media only screen and (max-width: 500px) {

    .game-board {
        border-spacing: 5px;
    }

    .letter {
        width: 3rem;
        height: 3rem;
        font-size: large;
    }

    .error {
        font-size: large;
    }
}