<div class="container">     
    <table class="game-board">
        <tr *ngFor="let word of boardState.words">
            <td 
                [ngClass]="{
                    'letter--empty': !letter.committed && letter.letter.length === 0,
                    'letter--pending': !letter.committed && letter.letter.length > 0,
                    'letter--perfect': letter.perfect, 
                    'letter--partial': letter.partial, 
                    'letter--committed': letter.committed}" *ngFor="let letter of word.letters">
                {{letter.letter}}
            </td>
        </tr>
    </table>
</div>
