@use '@angular/material' as mat;
@import "../../../themeVariables";


.history-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table-container {
    height: 600px;
}

.paginator {
    font-size: x-large;
    color: mat.get-color-from-palette($accent, 'default');
    margin-bottom: .5em;
}

.table-column {
    padding-left: 16px;
    font-size: medium;
    text-align: center;
}

.mat-column-date {
    @extend .table-column;
    border-right: 1px solid currentColor;
    padding-right: 16px;
    padding-left: 16px !important;
}

.mat-column-time-spent {
    @extend .table-column;
}

.mat-column-guesses {
    @extend .table-column;
}

.guess {
    font-size: small;
    font-style: italic;
    margin: 2px 0 2px 0;
}

.mat-column-secret {
    @extend .table-column;
}

.mat-column-win {
    @extend .table-column;
}

.mat-column-options {
    @extend .table-column;
}

.mat-column-share {
    @extend .table-column;
}

@media only screen and (max-width: 500px) {
    .table-container {
        height: 500px;
    }

    .copy-button {
        font-size: x-small;
        min-width: 40px;
        line-height: 30px;
        padding: 0;
    }

    .table-column {
        padding-left: 12px;
        font-size: x-small;
    }

    .mat-header-row {
        height: 40px;
    }

    .mat-column-date {
        padding-right: 8px;
        padding-left: 8px !important;
    }

    .guess {
        font-size: x-small;
        margin: 0 0 0 0;
    }

    .paginator {
        font-size: medium;
    }
}