<div class="row" *ngFor="let row of keyboard.rows">
    <button mat-raised-button *ngFor="let key of row.keys" (click)="keyClicked(key)" title="{{getTitle(key)}}" [ngClass]="
    {
        'darkMode': options.darkMode, 
        'key--used': key.guessed && !(key.perfect || key.partial),
        'key--unused': !key.guessed,
        'key--perfect': key.perfect,
        'key--partial': key.partial,
        'enter-key': key.letter === 'ENTER',
        'backspace-key': key.letter === '⟵'
    }">
        {{key.letter}}
    </button>
</div>