@use '@angular/material' as mat;
@import "../../../themeVariables";

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.key {
    user-select: none;
    border-radius: 5px;
    border: 2px solid;
    padding: 0;
    margin: 0 6px 0 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex: 1;
    // Override material button default value
    min-width: auto;

    &--unused {
        @extend .key;
        background-color: mat.get-color-from-palette($primary, 'default');
        border-color: mat.get-color-from-palette($primary, 'default');

        &.darkMode {
            background-color: #818384;
            border-color: #818384;
        }
    }

    &--used {
        @extend .key;
        background-color: mat.get-color-from-palette($primary, 'darker');
        border-color: mat.get-color-from-palette($primary, 'darker');

        &.darkMode {
            background-color: #4b4b4e;
            border-color: #4b4b4e;
        }
    }

    &--partial {
        @extend .key;
        background-color: mat.get-color-from-palette($partial, 'darker');
        border-color: mat.get-color-from-palette($partial, 'darker');
    }

    &--perfect {
        @extend .key;
        background-color: mat.get-color-from-palette($perfect, 'darker');
        border-color: mat.get-color-from-palette($perfect, 'darker');
    }
}

.key:focus {
    border-color: mat.get-color-from-palette($accent, 'default');
}