.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    min-width: 75px;
    min-height: 90px;
    font-size: x-large;
    user-select: none;
    border-radius: 10px;
    text-align: center;
    padding: 0 0 0 0;
    margin: 2px;

    &--unused {
        @extend .key;
        background-color: grey;
        color: white;
    }

    &--used {
        @extend .key;
        background-color: black;
        color: white;
    }

    &--correct {
        @extend .key;
        background-color: green;
        color: white;
    }

    &--empty {
        @extend .key;
        background-color: gainsboro;
    }
}

@media only screen and (max-width: 800px) {   
    .key {
        font-size: large;
        min-width: 55px;
        min-height: 70px;
    }
}

@media only screen and (max-width: 600px) {   
    .key {
        font-size: medium;
        min-width: 45px;
        min-height: 60px;
    }
}

@media only screen and (max-width: 500px) {   
    .key {
        min-width: 35px;
        min-height: 50px;
        font-size: medium;
    }
}

@media only screen and (max-width: 400px) {   
    .key {
        min-width: 30px;
        min-height: 45px;
        font-size: small;
    }
}