.container {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    .message-header {
        font-size: large;
        color: blue;
        text-align: center;
    }

    .message-tries {
        font-size: large;
        color: blue;
        text-align: center;  
    }

    .copy-button {
        font-size: large;
        width: auto;
        height: 50px;
    }

    .reset-button {
        font-size: large;
        width: auto;
        height: 50px;
    }
}