.container {
    width: 250px;
    height: 300px;
    display: grid;
    justify-items: center;
    grid-template-areas:
        "header header"
        "guesses guesses"
        "copy copy"
        "reset reset";


    .message-header {
        grid-area: header;
        font-size: x-large;
        color: blue;
        align-self: flex-start;
        justify-content: center;
    }

    .message-tries {
        grid-area: guesses;
        font-size: large;
        color: blue;        
    }

    .copy-button {
        grid-area: copy;
        font-size: large;
        width: auto;
        height: 50px;
        justify-self: center;
    }

    .reset-button {
        grid-area: reset;
        font-size: large;
        width: auto;
        height: 50px;
        justify-self: center;
    }
}