@import '@angular/material/theming';

$primary: mat.define-palette(mat.$grey-palette);
$perfect: mat.define-palette(mat.$green-palette);
$partial: mat.define-palette(mat.$amber-palette);
$accentDark: mat.define-palette(mat.$deep-purple-palette, A100);
$accentLight: mat.define-palette(mat.$deep-purple-palette);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accentLight,
            warn: $warn,
        ),
    )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
        primary: $primary,
        accent: $accentDark,
        warn: $warn,
    ),
  )
);