@use '@angular/material' as mat;

@import "@angular/material/theming";
@import "./themeVariables";

@include mat.core();

@include mat.all-component-themes($light-theme);

.darkMode {
    @include mat.all-component-colors($dark-theme);
}

.darkMode .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
}

.error-snackbar-body {
    background-color: black;

    &--dark {
        background-color: white;
    }
}

.error-snackbar-text {
    color: mat.get-color-from-palette($warn, 'default');
}


html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: mat.get-color-from-palette($primary, 'lighter');
}

.app-root {
    display: block;
    height: 100%;
  }
