@use '@angular/material' as mat;

@import "@angular/material/theming";
@import "./themeVariables";

@include mat.core();

@include mat.all-component-themes($light-theme);

.darkMode {
    @include mat.all-component-colors($dark-theme);
}

.darkMode .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
}

.mat-simple-snackbar {
    font-size: large;
    font-weight: 400;
}

.error-snackbar {
    background-color: black;
    color: mat.get-color-from-palette($warn, 'default');
}

.error-snackbar--dark {
    background-color: white;
    color: mat.get-color-from-palette($warn, 'A700');
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root {
    display: block;
    height: 100%;
  }

@media only screen and (max-width: 450px) {
    .mat-simple-snackbar {
        font-size: medium;
    }
}