@use '@angular/material' as mat;

@import "@angular/material/theming";
@import "./themeVariables";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

@include mat.all-component-themes($light-theme);

.darkMode {
    @include mat.all-component-colors($dark-theme);
}

.darkMode .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Material component overrides -- */

.mat-mdc-paginator-container {
    min-height: 45px;
}

.mat-mdc-paginator-range-label {
    width: 120px;
    margin-right: 24px !important;
}

.error-snackbar {
    background-color: mat-color($warn, 'A700');
    color: white;
}

.mat-mdc-snack-bar-container {
    &.error-snackbar {
        --mdc-snackbar-container-color: mat-color($warn, 'A700');
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
        --mdc-snackbar-supporting-text-size: large;
        --mdc-snackbar-supporting-text-weight: 500;
    }
}

.mdc-form-field {
    font-size: large;
}

/* -- Material component overrides */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root {
    display: block;
    height: 100%;
}

@media only screen and (max-width: 450px) {
    .mat-mdc-snack-bar-container {
        &.error-snackbar {
            --mdc-snackbar-supporting-text-size: medium;
        }
    }

    .mat-mdc-paginator-range-label {
        width: 100px;
    }

    .mdc-form-field {
        font-size: medium;
    }
}