@import '@angular/material/theming';

$primary: mat.define-palette(mat.$grey-palette);
$perfect: mat.define-palette(mat.$green-palette, 600);
$partial: mat.define-palette(mat.$amber-palette, 800);
$accent: mat.define-palette(mat.$light-blue-palette, A700);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
    ),
  )
);